<!doctype html>
<html lang="en">
  <head>
    <title>Pricing - Lead Generation Solution</title>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="css/style.min.css?_v=20231006164144" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <div class="wrapper">
      <a id="generate-pdf-button" class="btnforpdf">Generate PDF</a>
      <header class="header">
        <div class="header__item">
          <a href="index.html" class="header__logo">
            <img src="img/logo.svg" alt="logo" width="300" />
          </a>
        </div>
        <div class="header__item">
          <h1 class="header__title title">AI Powered Customer Acquisition Platform</h1>
        </div>
      </header>

      <main class="page">
        <section class="proposal">
          <div class="proposal__container">
            <h2 class="proposal__title text">Proposal For: <span>rainforestweddings.in</span></h2>
            <div class="proposal__body">
              <div class="proposal__price">Start with: <span>₹10000 + GST</span></div>
              <div class="proposal__items">
                <div class="proposal__item"><b>Name:</b> rainforestweddings.in</div>
                <div class="proposal__item"><b>Website:</b> rainforestweddings.in</div>
                <div class="proposal__item"><b>Phone:</b> +91 70210 66877</div>
              </div>
              <h3 class="proposal__subtitle">Profile Of Leads Requested</h3>
              <div class="proposal__items">
                <div class="proposal__item"><b>Location:</b> Mumbai, Pune, Nashik, Igatpuri</div>
                <div class="proposal__item">
                  <b>Remarks:</b> This is all inclusive package for QUALIFIED leads (not raw leads).
                  You don’t have to pay any agency or retainer fees and you get full value for your
                  money. Additionally, if you find the lead is invalid, then you have the right to
                  ask for a replacement.
                </div>
              </div>
              <div class="proposal__subtitle">Cost Per Lead: ₹350</div>
              <div class="proposal__subtitle">Expected No. of Leads: 29</div>
              <div class="proposal__items">
                <div class="proposal__item"><b>Benefits:</b></div>
                <div class="proposal__item">➤ Pay Only for Qualified Leads</div>
                <div class="proposal__item">
                  ➤ We will develop Landing Pages, Ad Copies & Other required content
                </div>
                <div class="proposal__item">
                  ➤ We use your brand to advertise across search, social media, discovery platforms.
                </div>
                <div class="proposal__item">➤ All leads are exclusive and non shared</div>
                <div class="proposal__item">
                  ➤ Leads are carefully screened and validated before it reaches you.
                </div>
                <div class="proposal__item">➤ Request a replacement for invalid leads.</div>
                <div class="proposal__item">
                  ➤ Start receiving leads on your WhatsApp in ~ 5 working days.
                </div>
              </div>
              <a
                href="https://buy.stripe.com/bIY16Y7Gm0wy2fC144"
                target="_blank"
                class="proposal__button button"
                >Make Payment (Credit/Debit Card)</a
              >
              <div class="proposal__items">
                <div class="proposal__item"><b>Bank Details:</b></div>
                <div class="proposal__item">Name: Madison Communications Pvt. Ltd.</div>
                <div class="proposal__item">Bank Name: Kotak Mahindra Bank</div>
                <div class="proposal__item">Account Number: 7711145402</div>
                <div class="proposal__item">IFSC Code: KKBK0000957</div>
                <div class="proposal__item">MICR Code: 400485013</div>
                <div class="proposal__item">Branch Address: Fort, Mumbai</div>
                <div class="proposal__item">
                  <b>Amount to be paid: ₹11800</b> <i> (inclusive of 18% GST)</i>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="content">
          <div class="content__container">
            <h2 class="content__title title">Here's How It Works:</h2>
            <ul class="content__list text">
              <li class="content__item">➤ Share details of your Business</li>
              <li class="content__item">➤ Tell us about the type of customers you want as leads</li>
              <li class="content__item">➤ We'll share the Cost Per Lead (CPL) with you</li>
              <li class="content__item">
                ➤ Cost Per Lead (CPL), depends on
                <ul class="content__sublist">
                  <li>♦ Industry</li>
                  <li>♦ Competition</li>
                  <li>♦ Cities to target</li>
                </ul>
              </li>
              <li class="content__item">➤ Subscribe by adding funds to your wallet</li>
              <li class="content__item">➤ Expect leads in 4-5 working days</li>
              <li class="content__item">
                ➤ Wallet balance goes down for each lead at the agreed CPL.
              </li>
              <li class="content__item">➤ Request replacement for invalid leads (if any)</li>
            </ul>
            <h2 class="content__title-black">TERMS & CONDITIONS</h2>
            <h2 class="content__title title">Definition of Valid Lead</h2>
            <ul class="content__list text">
              <li class="content__item">➤ Lead profile matches specified customer profile.</li>
              <li class="content__item">➤ Lead is contactable within 3 attempts</li>
              <li class="content__item">➤ Lead seeks service in specified geography.</li>
            </ul>
            <h2 class="content__title title">Definition of Invalid Lead</h2>
            <ul class="content__list text">
              <li class="content__item">➤ Lead seeks service not specified by you</li>
              <li class="content__item">➤ Lead is not contactable</li>
              <li class="content__item">➤ Lead seeks service outside specified geography.</li>
              <li class="content__item">
                ➤ The lead is either seeking employment or soliciting contracts
              </li>
            </ul>
            <b class="text">Example of Invalid Lead</b>
            <p class="text">Interior Designer signs up for Bangalore residential interiors</p>
            <ul class="content__list text">
              <li class="content__item">➤ Invalid, if lead seeks restaurant interiors</li>
              <li class="content__item">
                ➤ Invalid, if the lead is for apartment interiors in Mysore.
              </li>
              <li class="content__item">
                ➤ Invalid, if initial contact isn't established within 3 attempts.
              </li>
            </ul>
            <h2 class="content__title title">Lead Replacement</h2>
            <ul class="content__list text">
              <li class="content__item">
                ➤ Raise "Replace Lead" request within 8 hours of lead receipt.
              </li>
              <li class="content__item">
                ➤ mFunnel's Quality team will review your request's validity.
              </li>
              <li class="content__item">
                ➤ Replacements will be provided for all legitimate requests.
              </li>
              <li class="content__item">
                ➤ On replacements, decision of mFunnel Quality team is final.
              </li>
              <li class="content__item">
                ➤ If a lead stops communicating after an initial discussion, no replacement will be
                provided.
              </li>
            </ul>
            <h2 class="content__title title">Refund and Cancellation</h2>
            <ul class="content__list text">
              <li class="content__item">➤ You can cancel your subscription at any time.</li>
              <li class="content__item">
                ➤ Refund amount will be the Wallet balance at the end of the cancellation day.
              </li>
              <li class="content__item">➤ We will issue refund within 7 working days</li>
              <li class="content__item">
                ➤ Refund will be issued to your original payment source.
              </li>
            </ul>
            <h2 class="content__title title">Termination</h2>
            <ul class="content__list text">
              <li class="content__item">
                ➤ mFunnel can terminate your subscription with 24 hour notice.
              </li>
              <li class="content__item">
                ➤ Common reason for termination is making too many invalid replacement requests
              </li>
              <li class="content__item">
                ➤ Upon termination, the refund amount will be your wallet balance, minus the value
                of valid leads.
              </li>
              <li class="content__item">
                ➤ Refund will be issued to your original payment source with 7 working days.
              </li>
            </ul>
            <h2 class="content__title title">Jurisdiction</h2>
            <p class="text content__list">
              All disputes of whatever nature between mFunnel and the subscriber shall be filed in
              and settled exclusively by the Courts in Mumbai alone.
            </p>
            <a
              href="https://buy.stripe.com/bIY16Y7Gm0wy2fC144"
              target="_blank"
              class="content__button button"
              >Make Payment (Credit/Debit Card)</a
            >
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="footer__top">
          <div class="footer__container">
            <div class="footer__body">
              <div class="footer__info">
                <a href="index.html" class="footer__logo"
                ><img src="img/footer-logo.svg" alt="logo"
                /></a>
                <p class="footer__text">
                  Powered by Madison Communications, India's #1 independent advertising agency
                </p>
               
              </div>
              <div class="footer__contact">
                <h6 class="footer__title">Contact Us</h6>
                <ul class="footer__links">
                  <li>
                    <p class="footer__link">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                        d="M20.62 8.45C19.57 3.83 15.54 1.75 12 1.75C12 1.75 12 1.75 11.99 1.75C8.46 1.75 4.42 3.82 3.37 8.44C2.2 13.6 5.36 17.97 8.22 20.72C9.28 21.74 10.64 22.25 12 22.25C13.36 22.25 14.72 21.74 15.77 20.72C18.63 17.97 21.79 13.61 20.62 8.45ZM12 13.46C10.26 13.46 8.85 12.05 8.85 10.31C8.85 8.57 10.26 7.16 12 7.16C13.74 7.16 15.15 8.57 15.15 10.31C15.15 12.05 13.74 13.46 12 13.46Z"
                          fill="white"
                        />
                      </svg>
                      mFunnel C/O Madison World, 349, Business Point, Western Express Highway,
                      Andheri East, Mumbai - 400 069
                    </p>
                  </li>
                  <li>
                    <a href="mailto: info@mfunnel.ai" class="footer__link">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                        d="M17 3.5H7C4 3.5 2 5 2 8.5V15.5C2 19 4 20.5 7 20.5H17C20 20.5 22 19 22 15.5V8.5C22 5 20 3.5 17 3.5ZM17.47 9.59L14.34 12.09C13.68 12.62 12.84 12.88 12 12.88C11.16 12.88 10.31 12.62 9.66 12.09L6.53 9.59C6.21 9.33 6.16 8.85 6.41 8.53C6.67 8.21 7.14 8.15 7.46 8.41L10.59 10.91C11.35 11.52 12.64 11.52 13.4 10.91L16.53 8.41C16.85 8.15 17.33 8.2 17.58 8.53C17.84 8.85 17.79 9.33 17.47 9.59Z"
                          fill="white"
                        />
                      </svg>
                      info@mfunnel.ai
                    </a>
                  </li>
                  <li>
                    <a href="tel:+917897895515" class="footer__link">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M11.05 14.95L9.2 16.8C8.81 17.19 8.19 17.19 7.79 16.81C7.68 16.7 7.57 16.6 7.46 16.49C6.43 15.45 5.5 14.36 4.67 13.22C3.85 12.08 3.19 10.94 2.71 9.81C2.24 8.67 2 7.58 2 6.54C2 5.86 2.12 5.21 2.36 4.61C2.6 4 2.98 3.44 3.51 2.94C4.15 2.31 4.85 2 5.59 2C5.87 2 6.15 2.06 6.4 2.18C6.66 2.3 6.89 2.48 7.07 2.74L9.39 6.01C9.57 6.26 9.7 6.49 9.79 6.71C9.88 6.92 9.93 7.13 9.93 7.32C9.93 7.56 9.86 7.8 9.72 8.03C9.59 8.26 9.4 8.5 9.16 8.74L8.4 9.53C8.29 9.64 8.24 9.77 8.24 9.93C8.24 10.01 8.25 10.08 8.27 10.16C8.3 10.24 8.33 10.3 8.35 10.36C8.53 10.69 8.84 11.12 9.28 11.64C9.73 12.16 10.21 12.69 10.73 13.22C10.83 13.32 10.94 13.42 11.04 13.52C11.44 13.91 11.45 14.55 11.05 14.95Z"
                          fill="white"
                        />
                        <path
                          d="M21.97 18.33C21.97 18.61 21.92 18.9 21.82 19.18C21.79 19.26 21.76 19.34 21.72 19.42C21.55 19.78 21.33 20.12 21.04 20.44C20.55 20.98 20.01 21.37 19.4 21.62C19.39 21.62 19.38 21.63 19.37 21.63C18.78 21.87 18.14 22 17.45 22C16.43 22 15.34 21.76 14.19 21.27C13.04 20.78 11.89 20.12 10.75 19.29C10.36 19 9.97001 18.71 9.60001 18.4L12.87 15.13C13.15 15.34 13.4 15.5 13.61 15.61C13.66 15.63 13.72 15.66 13.79 15.69C13.87 15.72 13.95 15.73 14.04 15.73C14.21 15.73 14.34 15.67 14.45 15.56L15.21 14.81C15.46 14.56 15.7 14.37 15.93 14.25C16.16 14.11 16.39 14.04 16.64 14.04C16.83 14.04 17.03 14.08 17.25 14.17C17.47 14.26 17.7 14.39 17.95 14.56L21.26 16.91C21.52 17.09 21.7 17.3 21.81 17.55C21.91 17.8 21.97 18.05 21.97 18.33Z"
                          fill="white"
                        />
                      </svg>
                      +91 7897 8955 15
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__rights">
          <div class="footer__container">
            <p class="footer__rights-text">© All Rights Reserved</p>
          </div>
        </div>
      </footer>
    </div>
    <!-- Add this button within your HTML structure -->
    <!-- <script src="index.js" type="module"></script> -->
    <!-- 
    -->
    <script src="js/html2canvas.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.2.2/html2canvas.min.js"></script>
      <script src='./js/jsPDF-1.3.2/jsPDF-1.3.2/dist/jspdf.debug.js'></script>
  <script src="js/jsPDF-1.3.2/jsPDF-1.3.2/libs/html2pdf.js"></script>
  <script>
    $(document).ready(function() {
        $('#generate-pdf-button').click(function() {
            const content = $('.wrapper');
            const pageHeight = 297; // A4 page height in millimeters
            const pdf = new jsPDF('p', 'mm', [210, pageHeight]);
            let yOffset = 0;
    
            html2canvas(content[0]).then(function(canvas) {
                const imgData = canvas.toDataURL('image/png');
                const imgWidth = 210; // A4 width in mm
                const imgHeight = (canvas.height * imgWidth) / canvas.width;
    
                // Define custom breakpoints in an array
                const customBreakpoints = [100, 200, 300,400,500,600]; // Customize these values as needed
    
                let totalPages = Math.ceil(canvas.height / pageHeight);
                let page = 1;
    
                while (yOffset < canvas.height) {
                    if (page > 1) {
                        pdf.addPage();
                    }
    
                    // Check if the current yOffset matches a custom breakpoint
                    if (customBreakpoints.includes(yOffset)) {
                        pdf.addPage();
                    }
    
                    pdf.addImage(imgData, 'PNG', 0, -yOffset, imgWidth, imgHeight);
                    yOffset += pageHeight;
                    page++;
                }
    
                pdf.save('document.pdf');
            }).catch(function(error) {
                console.error('Error during HTML to PDF conversion:', error);
            });
        });
    });
    </script>
  
  </body>
</html>
