@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 375px;
}

body {
  color: #888b9b;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}




h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: url("../img/bg.svg") 0 0/cover no-repeat;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 66.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 500;
  color: #fd6331;
  line-height: 1.5;
  text-align: center;
}

.title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.button {
  border-radius: 3.125rem;
  background-color: #002374;
  display: block;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.button:not(:last-child) {
  margin-bottom: 1.25rem;
}

.header {
  text-align: center;
}

.header__item {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-bottom: 1px dashed rgba(89, 89, 89, 0.2);
}

.footer {
  background: url("../img/footer-bg.jpg") 0 0/cover no-repeat;
  color: #fff;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.footer__info {
  max-width: 22.125rem;
  width: 100%;
}

.footer__logo {
  display: inline-block;
}

.footer__text {
  line-height: 1.5;
}

.footer__title {
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.9375rem;
}

.footer__links li:not(:last-child) {
  margin-bottom: 0.625rem;
}

.footer__link {
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link svg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 0.1875rem;
}

.footer__contact {
  max-width: 22.125rem;
  width: 100%;
}

.footer__rights {
  background-color: #021955;
}

.footer__rights-text {
  line-height: 1.5;
  letter-spacing: 0.4px;
}

.proposal__title span {
  color: #fd6331;
  font-weight: 700;
}

.proposal__body {
  border-radius: 0.3125rem;
  background-color: #fc5823;
  color: #fff;
}

.proposal__price {
  line-height: 1.3043478261;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625rem;
  margin-bottom: 1.25rem;
}

.proposal__price span {
  font-weight: 700;
  white-space: nowrap;
}

.proposal__items:not(:last-child) {
  margin-bottom: 1.25rem;
}

.proposal__item {
  line-height: 2;
}

.proposal__subtitle {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

.proposal__subtitle:not(:last-child) {
  margin-bottom: 1.25rem;
}

.content__sublist {
  padding-left: 1.5625rem;
}

.content__title-black {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
  color: #323232;
}

@media (min-width: 66.5em) {
  .title {
    font-size: 2.0625rem;
  }

  .text {
    font-size: 1.3125rem;
  }

  .button {
    padding-top: 0.75rem;
  }

  .button {
    padding-bottom: 0.75rem;
  }

  .button {
    padding-left: 2.5rem;
  }

  .button {
    padding-right: 2.5rem;
  }

  .button {
    font-size: 1.3125rem;
  }

  .header__item {
    padding-top: 1.75rem;
  }

  .header__item {
    padding-bottom: 1.75rem;
  }

  .header__logo img {
    width: 18.75rem;
  }

  .footer__body {
    padding-top: 6.25rem;
  }

  .footer__body {
    padding-bottom: 6.25rem;
  }

  .footer__logo {
    margin-bottom: 1.375rem;
  }

  .footer__text {
    font-size: 1.125rem;
  }

  .footer__title {
    font-size: 1.5rem;
  }

  .footer__link {
    font-size: 1.25rem;
  }

  .footer__link {
    gap: 0.9375rem;
  }

  .footer__rights {
    padding-top: 1.4375rem;
  }

  .footer__rights {
    padding-bottom: 1.4375rem;
  }

  .footer__rights-text {
    font-size: 1.25rem;
  }

  .proposal {
    padding-top: 5.625rem;
  }

  .proposal {
    padding-bottom: 5.625rem;
  }

  .proposal__title {
    margin-bottom: 3.125rem;
  }

  .proposal__body {
    padding: 3.75rem;
  }

  .proposal__price {
    font-size: 1.4375rem;
  }

  .proposal__price span {
    font-size: 3.125rem;
  }

  .proposal__item {
    font-size: 1.0625rem;
  }

  .proposal__subtitle {
    font-size: 2.0625rem;
  }

  .content {
    padding-bottom: 9.375rem;
    page-break-before: always;
  }

  .content__list {
    margin-bottom: 3.3125rem;
  }

  .content__title-black {
    font-size: 2.375rem;
  }

  .content__title-black {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 61.99875em) {
  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__info {
    max-width: unset;
    min-width: 100%;
  }
}

@media (max-width: 47.99875em) {
  .footer__contact {
    max-width: 13.75rem;
  }
}

@media (max-width: 29.99875em) {
  .footer__info {
    text-align: center;
  }

  .proposal__body {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    border-radius: 0;
  }
}

@media (max-width: 23.4375em) {
  .title {
    font-size: 1.375rem;
  }

  .text {
    font-size: 1rem;
  }

  .button {
    padding-top: 0.5rem;
  }

  .button {
    padding-bottom: 0.5rem;
  }

  .button {
    padding-left: 1.25rem;
  }

  .button {
    padding-right: 1.25rem;
  }

  .button {
    font-size: 1rem;
  }

  .header__item {
    padding-top: 0.9375rem;
  }

  .header__item {
    padding-bottom: 0.9375rem;
  }

  .header__logo img {
    width: 9.375rem;
  }

  .footer__body {
    padding-top: 1.25rem;
  }

  .footer__body {
    padding-bottom: 1.25rem;
  }

  .footer__logo {
    margin-bottom: 0.625rem;
  }

  .footer__text {
    font-size: 0.75rem;
  }

  .footer__title {
    font-size: 1.125rem;
  }

  .footer__link {
    font-size: 0.875rem;
  }

  .footer__link {
    gap: 0.5rem;
  }

  .footer__rights {
    padding-top: 0.625rem;
  }

  .footer__rights {
    padding-bottom: 0.625rem;
  }

  .footer__rights-text {
    font-size: 0.75rem;
  }

  .proposal {
    padding-top: 2.5rem;
  }

  .proposal {
    padding-bottom: 2.5rem;
  }

  .proposal__title {
    margin-bottom: 1.875rem;
  }

  .proposal__body {
    padding: 1.25rem;
  }

  .proposal__price {
    font-size: 1.25rem;
  }

  .proposal__price span {
    font-size: 1.5625rem;
  }

  .proposal__item {
    font-size: 0.9375rem;
  }

  .proposal__subtitle {
    font-size: 1.375rem;
  }

  .content {
    padding-bottom: 2.5rem;
  }

  .content__list {
    margin-bottom: 1.875rem;
  }

  .content__title-black {
    font-size: 1.5625rem;
  }

  .content__title-black {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 23.4375em) and (max-width: 66.5em) {
@supports (font-size: clamp( 1.375rem , 1.0008164006rem  +  1.5965166909vw , 2.0625rem )) {
    .title {
      font-size: clamp( 1.375rem , 1.0008164006rem  +  1.5965166909vw , 2.0625rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.0008164006rem  +  1.5965166909vw , 2.0625rem )) {
    .title {
      font-size: calc(1.375rem + 0.6875 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (font-size: clamp( 1rem , 0.8299165457rem  +  0.7256894049vw , 1.3125rem )) {
    .text {
      font-size: clamp( 1rem , 0.8299165457rem  +  0.7256894049vw , 1.3125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8299165457rem  +  0.7256894049vw , 1.3125rem )) {
    .text {
      font-size: calc(1rem + 0.3125 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (padding-top: clamp( 0.5rem , 0.3639332366rem  +  0.5805515239vw , 0.75rem )) {
    .button {
      padding-top: clamp( 0.5rem , 0.3639332366rem  +  0.5805515239vw , 0.75rem );
    }
}

@supports not (padding-top: clamp( 0.5rem , 0.3639332366rem  +  0.5805515239vw , 0.75rem )) {
    .button {
      padding-top: calc(0.5rem + 0.25 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (padding-bottom: clamp( 0.5rem , 0.3639332366rem  +  0.5805515239vw , 0.75rem )) {
    .button {
      padding-bottom: clamp( 0.5rem , 0.3639332366rem  +  0.5805515239vw , 0.75rem );
    }
}

@supports not (padding-bottom: clamp( 0.5rem , 0.3639332366rem  +  0.5805515239vw , 0.75rem )) {
    .button {
      padding-bottom: calc(0.5rem + 0.25 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (padding-left: clamp( 1.25rem , 0.5696661829rem  +  2.9027576197vw , 2.5rem )) {
    .button {
      padding-left: clamp( 1.25rem , 0.5696661829rem  +  2.9027576197vw , 2.5rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 0.5696661829rem  +  2.9027576197vw , 2.5rem )) {
    .button {
      padding-left: calc(1.25rem + 1.25 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (padding-right: clamp( 1.25rem , 0.5696661829rem  +  2.9027576197vw , 2.5rem )) {
    .button {
      padding-right: clamp( 1.25rem , 0.5696661829rem  +  2.9027576197vw , 2.5rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.5696661829rem  +  2.9027576197vw , 2.5rem )) {
    .button {
      padding-right: calc(1.25rem + 1.25 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (font-size: clamp( 1rem , 0.8299165457rem  +  0.7256894049vw , 1.3125rem )) {
    .button {
      font-size: clamp( 1rem , 0.8299165457rem  +  0.7256894049vw , 1.3125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8299165457rem  +  0.7256894049vw , 1.3125rem )) {
    .button {
      font-size: calc(1rem + 0.3125 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.4952830189rem  +  1.8867924528vw , 1.75rem )) {
    .header__item {
      padding-top: clamp( 0.9375rem , 0.4952830189rem  +  1.8867924528vw , 1.75rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.4952830189rem  +  1.8867924528vw , 1.75rem )) {
    .header__item {
      padding-top: calc(0.9375rem + 0.8125 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.4952830189rem  +  1.8867924528vw , 1.75rem )) {
    .header__item {
      padding-bottom: clamp( 0.9375rem , 0.4952830189rem  +  1.8867924528vw , 1.75rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.4952830189rem  +  1.8867924528vw , 1.75rem )) {
    .header__item {
      padding-bottom: calc(0.9375rem + 0.8125 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (width: clamp( 9.375rem , 4.2724963716rem  +  21.770682148vw , 18.75rem )) {
    .header__logo img {
      width: clamp( 9.375rem , 4.2724963716rem  +  21.770682148vw , 18.75rem );
    }
}

@supports not (width: clamp( 9.375rem , 4.2724963716rem  +  21.770682148vw , 18.75rem )) {
    .header__logo img {
      width: calc(9.375rem + 9.375 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (padding-top: clamp( 1.25rem , -1.4713352685rem  +  11.611030479vw , 6.25rem )) {
    .footer__body {
      padding-top: clamp( 1.25rem , -1.4713352685rem  +  11.611030479vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -1.4713352685rem  +  11.611030479vw , 6.25rem )) {
    .footer__body {
      padding-top: calc(1.25rem + 5 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -1.4713352685rem  +  11.611030479vw , 6.25rem )) {
    .footer__body {
      padding-bottom: clamp( 1.25rem , -1.4713352685rem  +  11.611030479vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -1.4713352685rem  +  11.611030479vw , 6.25rem )) {
    .footer__body {
      padding-bottom: calc(1.25rem + 5 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.2167997097rem  +  1.7416545718vw , 1.375rem )) {
    .footer__logo {
      margin-bottom: clamp( 0.625rem , 0.2167997097rem  +  1.7416545718vw , 1.375rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.2167997097rem  +  1.7416545718vw , 1.375rem )) {
    .footer__logo {
      margin-bottom: calc(0.625rem + 0.75 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (font-size: clamp( 0.75rem , 0.5458998549rem  +  0.8708272859vw , 1.125rem )) {
    .footer__text {
      font-size: clamp( 0.75rem , 0.5458998549rem  +  0.8708272859vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.5458998549rem  +  0.8708272859vw , 1.125rem )) {
    .footer__text {
      font-size: calc(0.75rem + 0.375 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9208998549rem  +  0.8708272859vw , 1.5rem )) {
    .footer__title {
      font-size: clamp( 1.125rem , 0.9208998549rem  +  0.8708272859vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9208998549rem  +  0.8708272859vw , 1.5rem )) {
    .footer__title {
      font-size: calc(1.125rem + 0.375 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (font-size: clamp( 0.875rem , 0.6708998549rem  +  0.8708272859vw , 1.25rem )) {
    .footer__link {
      font-size: clamp( 0.875rem , 0.6708998549rem  +  0.8708272859vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.6708998549rem  +  0.8708272859vw , 1.25rem )) {
    .footer__link {
      font-size: calc(0.875rem + 0.375 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (gap: clamp( 0.5rem , 0.261883164rem  +  1.0159651669vw , 0.9375rem )) {
    .footer__link {
      gap: clamp( 0.5rem , 0.261883164rem  +  1.0159651669vw , 0.9375rem );
    }
}

@supports not (gap: clamp( 0.5rem , 0.261883164rem  +  1.0159651669vw , 0.9375rem )) {
    .footer__link {
      gap: calc(0.5rem + 0.4375 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.1827830189rem  +  1.8867924528vw , 1.4375rem )) {
    .footer__rights {
      padding-top: clamp( 0.625rem , 0.1827830189rem  +  1.8867924528vw , 1.4375rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.1827830189rem  +  1.8867924528vw , 1.4375rem )) {
    .footer__rights {
      padding-top: calc(0.625rem + 0.8125 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.1827830189rem  +  1.8867924528vw , 1.4375rem )) {
    .footer__rights {
      padding-bottom: clamp( 0.625rem , 0.1827830189rem  +  1.8867924528vw , 1.4375rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.1827830189rem  +  1.8867924528vw , 1.4375rem )) {
    .footer__rights {
      padding-bottom: calc(0.625rem + 0.8125 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (font-size: clamp( 0.75rem , 0.4778664731rem  +  1.1611030479vw , 1.25rem )) {
    .footer__rights-text {
      font-size: clamp( 0.75rem , 0.4778664731rem  +  1.1611030479vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.4778664731rem  +  1.1611030479vw , 1.25rem )) {
    .footer__rights-text {
      font-size: calc(0.75rem + 0.5 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (padding-top: clamp( 2.5rem , 0.7991654572rem  +  7.2568940493vw , 5.625rem )) {
    .proposal {
      padding-top: clamp( 2.5rem , 0.7991654572rem  +  7.2568940493vw , 5.625rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 0.7991654572rem  +  7.2568940493vw , 5.625rem )) {
    .proposal {
      padding-top: calc(2.5rem + 3.125 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.7991654572rem  +  7.2568940493vw , 5.625rem )) {
    .proposal {
      padding-bottom: clamp( 2.5rem , 0.7991654572rem  +  7.2568940493vw , 5.625rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.7991654572rem  +  7.2568940493vw , 5.625rem )) {
    .proposal {
      padding-bottom: calc(2.5rem + 3.125 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.1946661829rem  +  2.9027576197vw , 3.125rem )) {
    .proposal__title {
      margin-bottom: clamp( 1.875rem , 1.1946661829rem  +  2.9027576197vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.1946661829rem  +  2.9027576197vw , 3.125rem )) {
    .proposal__title {
      margin-bottom: calc(1.875rem + 1.25 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (padding: clamp( 1.25rem , -0.1106676343rem  +  5.8055152395vw , 3.75rem )) {
    .proposal__body {
      padding: clamp( 1.25rem , -0.1106676343rem  +  5.8055152395vw , 3.75rem );
    }
}

@supports not (padding: clamp( 1.25rem , -0.1106676343rem  +  5.8055152395vw , 3.75rem )) {
    .proposal__body {
      padding: calc(1.25rem + 2.5 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1479499274rem  +  0.435413643vw , 1.4375rem )) {
    .proposal__price {
      font-size: clamp( 1.25rem , 1.1479499274rem  +  0.435413643vw , 1.4375rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1479499274rem  +  0.435413643vw , 1.4375rem )) {
    .proposal__price {
      font-size: calc(1.25rem + 0.1875 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (font-size: clamp( 1.5625rem , 0.7120827286rem  +  3.6284470247vw , 3.125rem )) {
    .proposal__price span {
      font-size: clamp( 1.5625rem , 0.7120827286rem  +  3.6284470247vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 0.7120827286rem  +  3.6284470247vw , 3.125rem )) {
    .proposal__price span {
      font-size: calc(1.5625rem + 1.5625 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.8694666183rem  +  0.290275762vw , 1.0625rem )) {
    .proposal__item {
      font-size: clamp( 0.9375rem , 0.8694666183rem  +  0.290275762vw , 1.0625rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.8694666183rem  +  0.290275762vw , 1.0625rem )) {
    .proposal__item {
      font-size: calc(0.9375rem + 0.125 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (font-size: clamp( 1.375rem , 1.0008164006rem  +  1.5965166909vw , 2.0625rem )) {
    .proposal__subtitle {
      font-size: clamp( 1.375rem , 1.0008164006rem  +  1.5965166909vw , 2.0625rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.0008164006rem  +  1.5965166909vw , 2.0625rem )) {
    .proposal__subtitle {
      font-size: calc(1.375rem + 0.6875 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (padding-bottom: clamp( 2.5rem , -1.2418359942rem  +  15.9651669086vw , 9.375rem )) {
    .content {
      padding-bottom: clamp( 2.5rem , -1.2418359942rem  +  15.9651669086vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , -1.2418359942rem  +  15.9651669086vw , 9.375rem )) {
    .content {
      padding-bottom: calc(2.5rem + 6.875 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.0926161103rem  +  3.3381712627vw , 3.3125rem )) {
    .content__list {
      margin-bottom: clamp( 1.875rem , 1.0926161103rem  +  3.3381712627vw , 3.3125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.0926161103rem  +  3.3381712627vw , 3.3125rem )) {
    .content__list {
      margin-bottom: calc(1.875rem + 1.4375 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.1202830189rem  +  1.8867924528vw , 2.375rem )) {
    .content__title-black {
      font-size: clamp( 1.5625rem , 1.1202830189rem  +  1.8867924528vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.1202830189rem  +  1.8867924528vw , 2.375rem )) {
    .content__title-black {
      font-size: calc(1.5625rem + 0.8125 * (100vw - 23.4375rem) / 43.0625);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.5348330914rem  +  1.4513788099vw , 2.5rem )) {
    .content__title-black {
      margin-bottom: clamp( 1.875rem , 1.5348330914rem  +  1.4513788099vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.5348330914rem  +  1.4513788099vw , 2.5rem )) {
    .content__title-black {
      margin-bottom: calc(1.875rem + 0.625 * (100vw - 23.4375rem) / 43.0625);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #0c39a1;
  }

  .footer__links a:hover {
    text-decoration: underline;
  }
}